venv/
ros2_venv/
imu_env/
anaconda3/
__pycache__/
build/
install/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
.cache/
.config/
.local/
.pki/
.ros/
.rviz2/
log/
.bash_history
.gitconfig
.ssh/
.vscode/
VSCode/
*.log
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db
desktop.ini
